@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.moon path {
  @apply dark:fill-white;
}

.sun path {
  @apply fill-white dark:fill-[#5A6069];
}

.moon,
.sun {
  cursor: pointer;
}

h3 {
  @apply font-bold text-lg text-primary dark:text-primary-dark
}

p {
  @apply text-primary dark:text-primary-dark
}

span {
  @apply font-normal
}

button {
  @apply border-solid border-[1px] text-primary dark:text-primary-dark bg-transparent
}